# build output
dist/
public/api-key.php

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
assets/69aeb60d-83cc-4da7-a056-ceff8af7d080.pdf
assets/a2299734-0b7a-435c-8e78-0c5946916b8a.pdf
assets/PXL_20260524_143537094 (1).mp4
