---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from '../icons/SocialPill.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import ExperienceIcon from '../icons/Experience.astro';
import Sectionclass from '../components/Section.astro';
import ProjectsIcon from '../icons/DeviceCode.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import Dropdown from '../components/Dropdown.astro';
import MapIcon from '../icons/map.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Abel Cristofer Portafolio - Developer con 2 años de experiencia" description="Desarrollador Web / Realidad Virtual y tecnologías modernas">
	<main class="px-4">

		<Sectionclass class="relative py-32 pb-64 flex flex-col lg:flex-row items-center justify-between lg:my-0 lg:w-[800px] ">
			<div class="w-full lg:w-1/2 xl:w-2/5 flex flex-col items-center p-4" >
				<img 
				src="assets/1644039.jpg"  
				alt="Foto de Abel Cristofer" 
				class="w-full sm:w-1/4 lg:w-3/4 rounded-full  aspect-[7/8] object-cover mb-4 border-2 border-slate-600 dark:border-slate-200">
				
					<nav class="flex gap-4 mt-8 flex-wrap justify-center">
						<SocialPill href="https://www.linkedin.com/in/abel-cristofer-hernández-bustos-102413128/" title="LinkedIn">
							<LinkedInIcon class="size-4 md:size-4" 
							 />
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/Cristofer3097" 
					title="GitHub">
						<GitHubIcon class="size-4 md:size-4"
						
						/>
						GitHub
					</SocialPill>
					<div class="flex space-x-1 lg:space-x-2">
					<SocialPill href="mailto:cristofer3097@gmail.com" title="Email">
						<MailIcon class="size-4 md:size-5" />
						cristofer3097@gmail.com
					</SocialPill>
				</div>
					
				</nav>
			</div>	
			<div class=" top-10 lg:relative lg:top-10  w-full lg:w-3/4  ml-10 flex flex-col justify-start  " >
		<h1 class=" text-2xl text-wrap lg:text-3xl font-bold flex flex-row gap-x-5 pb-2 text-purple-600">
			Abel Cristofer
			<div class="flex justify-center items-center"><a
					href="https://www.linkedin.com/in/abel-cristofer-hernández-bustos-102413128/"
					target="_blank"
					rel="noopener noreferrer"
					class="flex justify-center items center">
					<Badge /></a></div>	
			 </h1>
			 <h1 class="text-gray-200 text-2xl text-wrap lg:text-3xl font-bold flex flex-row gap-x-2  ">
				Desarrollador
				
				 </h1>
				 <h1 class="text-gray-500  text-wrap lg:text-1xl font-bold flex flex-row gap-x-2 pb-2 lg:pb-5 ">
					<MapIcon class="2" />Nuevo Leon Mexico 
					
					 </h1>

			

		<h2 class="text-lg lg;text-xl opacity-80 text-white text-wrap ">Con más de 2 años de experiencia. 
			<span class="text-purple-400">Desarrollador en app Realidad Aumentada.</span> 
			Disfruto enfrentar nuevos retos, trabajar en proyectos multidisciplinarios para aportar valor a
			través de la tecnología y aportar soluciones creativas que no solo resuelvan problemas de manera eficiente,
			sino que también generen valor estratégico a largo plazo. </h2>
			<div class="flex justify-center items-center py-4 lg:py-8">
			<Dropdown /></div>
		</div></Sectionclass>
		
		<Sectionclass id="experience" class="scroll-mt-24 py-2">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 itmes-center text-white">Experiencia Laboral
				<ExperienceIcon class="size-6" />
			</h2>
			<Experience />
		</Sectionclass>
		<Sectionclass id="proyectos" class="scroll-mt-24">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">Proyectos
				<ProjectsIcon class="size-6" />
			</h2>
			<Projects />
		</Sectionclass>

		<Sectionclass id="contactos" class="scroll-mt-24">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">Contacto
				<MailIcon class="size-6" />
			</h2>
			<Contact />
		</Sectionclass>
		<Footer />
	</main>
</Layout>