<span class="relative inline-flex overflow-hidden rounded-full top-5 p-[2px]">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] 
    bg-[conic-gradient(from_90deg_at_50%_50%,#a855f7_0%,#6b21a8_50%,#a855f7_100%)]
    ">
</span>
    <div class="inline-flex gap-1 items-center justify-center w-full px-1 py-1 text-xs 
    text-purple-600 rounded-full backdrop-blur-3xl whitespace-nowrap bg-[rgba(18,18,18,1)]" 
    id="bg-availableToWork"><span class="flex size-2 items-center"><span class="absolute 
        inline-flex size-1.5 animate-ping rounded-xl bg-purple-600"></span>
        <span class="relative inline-flex size-1.5 rounded-xl bg-purple-600"></span>
    </span> <span id="availableToWork">Disponible para trabajar
        </span></div>
  </span>
  
