---
import ChatIcon from '../icons/chat.astro'; 
import BotIcon from '../icons/Bot.astro';
---
<section class="overflow-hidden w-full mx-auto px-4 py-24 relative">
  <h2 class="flex gap-x-2 text-2xl font-bold mb-7 text-white dark:text-neutral-800">
<span data-translate="chat.title"></span>
    <ChatIcon class="size-6" />
  </h2>
<div id="chat-container" class="w-full max-w-2xl mx-auto p-4 border 
border-violet-700/50 rounded-lg bg-slate-900/50 dark:bg-gray-200 dark:border-blue-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" >
    
  <div class="flex items-center mb-4">
      <div>
        <h3 class="text-xl font-bold text-white dark:text-black" data-translate="chat.tit1le2"> </h3>
        <p class="text-gray-400 dark:text-gray-600" data-translate="chat.subtitle"></p>
      </div>
  </div>
  
  <div id="chat-box" class="h-80 overflow-y-auto p-4 bg-slate-950 dark:bg-gray-100 rounded-lg mb-4 border border-slate-700">
    <div class="flex justify-start mb-4">
        <div class="bg-gray-800 dark:bg-gray-600 text-white rounded-lg p-3 max-w-xs">
          <p data-translate="chat.firstMessage"></p>
        </div>
    </div>
  </div>

  <form id="chat-form" class="flex items-center gap-3 ">
    <input 
      type="text" 
      id="chat-input" 
      placeholder="Escribe tu pregunta aquí..."
      data-translate-placeholder="chat.placeholdermessage"
      class="flex-grow bg-slate-800 border border-slate-600 rounded-lg p-3 text-white focus:outline-none focus:ring-2 
      focus:ring-violet-500 dark:text-stone-700 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 
      dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
    <button type="submit" id="send-button" class="bg-violet-700 dark:bg-blue-800 hover:bg-violet-600 dark:hover:bg-blue-800/80 text-white font-bold p-3 sm:py-3 sm:px-5 rounded-lg transition-colors duration-300 flex items-center justify-center min-w-[48px]">
          <span data-translate="chat.button" ></span>
          <BotIcon id="send-icon" class="sm:ml-2 size-5" class="hidden sm:inline" />
          <div id="loading-spinner" class="hidden animate-spin rounded-full h-5 w-5 border-b-2 border-white sm:ml-2"></div>
      </button>
  </form>
</div>

<script src="../scripts/Chat.js">
</script>