<section class="container mx-auto px-4 mb-12 animate-fade-in" id="Education">
    <h2 class="text-2xl font-bold mb-2" id="educationTitle">Educación</h2>

    <div class="flex">
      <svg style="width: 20px; min-height: 100%; flex-shrink: 0;">
        <line x1="10" y1="0" x2="10" y2="10000" stroke="gray" stroke-width="2"></line>
        <circle id="circle1" cx="10" cy="255" r="7" fill="#9333ea"></circle>
        <circle id="circle2" cx="10" cy="100" r="7" fill="#9333ea"></circle>
        <circle id="circle3" cx="10" cy="400" r="7" fill="#9333ea"></circle>
      </svg>
      

      <div class="ml-2">
        <div class="md:ml-4 flex flex-col">

            <div class="flex items-center mt-6">
                <div class="bg-gray-800 w-full p-6 rounded-lg shadow-lg transform transition duration-300 md:hover:scale-105">
                  <h3 class="text-xl font-bold mb-2 leading-none" >DIPLOMADO EN PYTHON EN
                    INTERFACES GRÁFICAS Y ANÁLISIS
                    DE DATOS</h3>
                  <h6 class="opacity-70 leading-none text-xs mb-2" >Enero-Marzo 2024 
                </h6>
                  <p > Facultad de Ingeniería en Mecánica y
                    Eléctrica</p>
                </div>
              </div>

          <div class="flex items-center mt-6">
            <div class=" bg-gray-800 w-full p-6 rounded-lg shadow-lg transform transition duration-300 md:hover:scale-105">
              <h3 class="text-xl font-bold mb-2" >INGENIERO EN TECNOLOGÍA DE
                SOFTWARE (TITULADO)</h3>
              <h6 class="opacity-70 leading-none text-xs mb-2" >2016 - 2023</h6>
              <p> Facultad de Ingeniería en Mecánica y
                Eléctrica </p>
            </div>
          </div>
          
          <div class="flex items-center mt-6">
            <div class="bg-gray-800 w-full p-6 rounded-lg shadow-lg transform transition duration-300 md:hover:scale-105">
              <h3 class="text-xl font-bold mb-2" > TÉCNICO PROGRAMACION WEB</h3>
              <h6 class="opacity-70 leading-none text-xs mb-2"> 2012 - 2015</h6>
              <p >Escuela Industrial y Preparatoria Técnica
                “Álvaro Obregón”</p>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>