---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
{
        date: 'Octubre 2025 - Presente',
        company:'Tecnoap',
        title:'Consultor Trainee',
        description:[
        "- Desarrollo de clases, interfaces, controladores, métodos y lógica de programación en C#.",
        "- Modificaciones en cubos OLAP, vistas, dimensiones, relaciones de tablas.",
        "- Participación en revisiones de código y pruebas para garantizar la calidad del software.",
        "- Control de versiones y colaboración en equipo utilizando GitHub."

        
    ],
    link: '#',
},
{
        date: 'Marzo 2025 - Agosto 2025',
        company:'CHEVROLET SURMAN',
        title:'Ingeniero en Sistemas',
        description:[
        "- Soporte DMS en la gestión y resolución de incidencias técnicas.",
      "- Apoyo al Departamento de Sistemas en la creación de usuarios y modificación de permisos.",
      "- Mantenimiento de servidores LAN y WAN.",
      "- Realización de actualizaciones de software y monitoreo de rendimiento en servidores.",
      "- Colaboración con equipos internos para mejorar la eficiencia del sistema."
        
    ],
    link: '#',
},
    {
        date: 'Diciembre 2022 - Marzo 2025',
        company:'FIME - LABORATORIO DE REALIDAD VIRTUAL INMERSIVA',
        title:'Desarrollador / Gestión de Proyectos',
        description:[
        "- Mejoré la gestión de proyectos usando metodologías ágiles, lo que hizo que la producción fuera más eficiente.",
        "- Colaboración de proyectos que se presentan en su entrada principal y en su Web oficial.",
        "- Lideré la creación de entornos de Realidad Virtual con Unity.",
        "- Gestión de proyectos basada en metodologías ágiles (especializándome en Scrum).",
        "- Instalación de servidores, hardware y software en estaciones de trabajo."
    ],
    link: '#',
},
{
    date: 'Diciembre 2014 - Julio 2015',
    company:'SAT: SERVICIO DE ADMINISTRACION TRIBUTARIA ',
        title:'Ayudante General',
        description:[
        '- Mantenimiento de computadoras.',
        '- Generación de informes con SAP y manipulación de tablas dinámicas.',
    ],
        link: '#',
    },

]
---
<ol class="relative border-s border-gray-200 dark:border-blue-700 " >              
    {
    EXPERIENCIE.map((Experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...Experience} />
        </li>
    ))
    }    
    
</ol>
