---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [

    {
        date: 'Dic 2022 - PRESENTE',
        company:'FIME - LABORATORIO DE REALIDAD VIRTUAL INMERSIVA',
        title:'Developer / Project Management',
        description:[
        '- Creación de entornos en Realidad Virtual(Unity) (Simulador de Montacargas, Python Horror, Recorrido FIME Unity/Web).',
        '- Administración de proyectos basados en metodologías ágiles (especializado en Scrum).',
    ],
    link: '#',
},
{
    date: 'Ene 2015 - Jul 2015',
    company:'SAT: SERVICIO DE ADMINISTRACION TRIBUTARIA ',
        title:'Ayudante general',
        description:[
        '- Mantenimiento de computadoras.',
        '- Generación de informes con SAP y manipulación de tablas dinámicas.',
    ],
        link: '#',
    },

]
---s
<ol class="relative border-s border-gray-200 dark:border-gray-700 hidden-on-scroll">              
    {
    EXPERIENCIE.map((Experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...Experience} />
        </li>
    ))
    }    
    
</ol>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll(".hidden-on-scroll");

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add("visible-on-scroll");
            } else {
                entry.target.classList.remove("visible-on-scroll");
            }
        });
    }, { threshold: 0.3 }); // Se activa cuando el 30% del div es visible

    elements.forEach(el => observer.observe(el));
});
</script>
<style>
    /* Ocultar elementos inicialmente */
    .hidden-on-scroll {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }
    
    /* Cuando el elemento es visible */
    .visible-on-scroll {
        opacity: 1;
        transform: translateY(0);
    }
    </style>