---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
{
        date: '',
        company:'Tecnoap',
        title:'',
        description:[
        "",
        "",
        "",
        "",
        ""

        
    ],
    link: '#',
},
{
        date: '',
        company:'CORPORATIVO SURMAN',
        title:'',
        description:[
        "",
      "",
      "",
      "",
      ""
        
    ],
    link: '#',
},
    {
        date: '',
        company:'FIME - LABORATORIO DE REALIDAD VIRTUAL INMERSIVA',
        title:'',
        description:[
        "",
        "",
        "",
        "",
        ""
    ],
    link: '#',
},
{
    date: '',
    company:'SAT: SERVICIO DE ADMINISTRACION TRIBUTARIA ',
        title:'',
        description:[
        '',
        '',
    ],
        link: '#',
    },

]
---
<ol class="relative border-s border-gray-200 dark:border-blue-700 " >              
    {
    EXPERIENCIE.map((Experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...Experience} />
        </li>
    ))
    }    
    
</ol>
