---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [

{
        date: 'Marzo 2025 - Presente',
        company:'CHEVROLET SURMAN',
        title:'Ingeniero en sistemas',
        description:[
        '-Soporte DMS a usuarios finales y concesionarias a nivel nacional.',
'-Apoyo al Departamento de Sistemas en creación de usuarios, modificación de permisos, asignación.',
'-Seguimiento de tickets'
    ],
    link: '#',
},
    {
        date: 'Diciembre 2022 - Marzo 2025',
        company:'FIME - LABORATORIO DE REALIDAD VIRTUAL INMERSIVA',
        title:'Desarrollador / Gestión de Proyectos',
        description:[
        '- Creación de entornos en Realidad Virtual(Unity) (Simulador de Montacargas, Python Horror, Recorrido FIME Unity/Web).',
        '- Administración de proyectos basados en metodologías ágiles (especializado en Scrum).',
    ],
    link: '#',
},
{
    date: 'Diciembre 2014 - Julio 2015',
    company:'SAT: SERVICIO DE ADMINISTRACION TRIBUTARIA ',
        title:'Ayudante general',
        description:[
        '- Mantenimiento de computadoras.',
        '- Generación de informes con SAP y manipulación de tablas dinámicas.',
    ],
        link: '#',
    },

]
---
<ol class="relative border-s border-gray-200 dark:border-blue-700 " >              
    {
    EXPERIENCIE.map((Experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...Experience} />
        </li>
    ))
    }    
    
</ol>
