
<footer class=" rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://www.linkedin.com/in/abel-cristofer-hernández-bustos-102413128/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="assets/1644039.jpg" class="size-8 rounded-full" alt="Abel Cristofer" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-violet-500/90">Abel Cristofer</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500  sm:mb-0 text-white/80 space-x-6">
                <li>
                    <a href="#top" class="hover:underline">Inicio</a>
                </li>
                <li>
                    <a href="#experience" class="hover:underline">Experiencia</a>
                </li>
                <li>
                    <a href="#proyectos" class="hover:underline">Proyectos</a>
                </li>
                <li>
                    <a href="#sobremi" class="hover:underline">Sobre mi</a>
                </li>
                <li>
                    <a href="#contactos" class="hover:underline">Contactos</a>
                </li>
                
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Esta pagina fue construido con Astro
            <svg  
            class="group flex w-fit items-center justify-between gap-[2px] hover:text-accent inline-flex"
{...Astro.props}
xmlns="http://www.w3.org/2000/svg" 
 width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  
 stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-astro">
 <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14.972 3.483c.163 .196 .247 .46 .413 .987l3.64 11.53a15.5 15.5 0 0 0 -4.352 -1.42l-2.37 -7.723a.31 .31 0 0 0 -.296 -.213a.31 .31 0 0 0 -.295 .214l-2.342 7.718a15.5 15.5 0 0 0 -4.37 1.422l3.657 -11.53c.168 -.527 .251 -.79 .415 -.986c.144 -.172 .331 -.306 .544 -.388c.242 -.094 .527 -.094 1.099 -.094h2.612c.572 0 .858 0 1.1 .094c.213 .082 .4 .217 .545 .39" />
 <path d="M9 18c0 1.5 2 3 3 4c1 -1 3 -3 3 -4q -3 1.5 -6 0" /></svg>
        </span>
        
        
    </div>
</footer>

