<header class="fixed top-0 left-0 w-full flex justify-between items-center px-5 py-4 backdrop-blur-[15px]  text-white z-50">
    <h1 class="text-2xl font-bold">Portafolio</h1>

    <nav class="flex hidden sm:block
     flex-row gap-x-10 opacity-85 text-gray-100">
        <a href="#top" class="lg:px-4 md:px-2 sm:px-1">Inicio</a>
        <a href="#experience" class="lg:px-4 md:px-2 sm:px-1">Experiencia</a>
        <a href="#sobremi" class="lg:px-4 md:px-2 sm:px-1">Sobre mi</a>
        <a href="#proyectos" class="lg:px-4 md:px-2 sm:px-1">Proyectos</a>
        <a href="#contactos" class="lg:px-4 md:px-2 sm:px-1">Contactos</a>
    </nav>
  
    <!-- Botón para abrir el menú -->
    <button id="menu-toggle" class="block sm:hidden text-white focus:outline-none">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  
    <!-- Menú lateral -->
    <nav id="nav-menu" class="fixed top-0 right-0 w-1/2 h-screen bg-black text-white flex flex-col 
items-start p-5 transform translate-x-full transition-transform duration-300 z-50">
      <button id="close-menu" class="self-end text-white text-3xl ">&times;</button>
      <a href="#inicio" class="mt-5 block text-lg ">Inicio</a>
      <a href="#proyectos" class="mt-5 block text-lg">Proyectos</a>
      <a href="#habilidades" class="mt-5 block text-lg">Habilidades</a>
      <a href="#estudios" class="mt-5 block text-lg">Estudios</a>
      <a href="#sobremi" class="mt-5 block text-lg">Sobre mí</a>
      <a href="#contacto" class="mt-5 block text-lg">Contacto</a>
    </nav>
  </header>
  
  <script>
    const menuToggle = document.getElementById('menu-toggle');
    const navMenu = document.getElementById('nav-menu');
    const closeMenu = document.getElementById('close-menu');
  
    menuToggle.addEventListener('click', () => {
      navMenu.classList.remove('translate-x-full');
    });
  
    closeMenu.addEventListener('click', () => {
      navMenu.classList.add('translate-x-full');
    });
  </script>
    </html><
