<div id="side-menu" class="hidden lg:flex fixed top-1/2 right-0 transform -translate-y-1/2 p-2 rounded-l-lg text-white k z-50">
  <nav class="w-64 p-6">
    <ul class="space-y-4 flex flex-col items-center p-4 gap-1">
      <li class="w-full hover:bg-violet-900 dark:hover:bg-blue-900 dark:hover:border-gray-300 hover:scale-110 transition-all duration-300 rounded-lg border hover:shadow-purple-800 dark:hover:shadow-sky-800 dark:border-blue-900 hover:shadow-lg overflow-hidden">
        <a href="#top" class="dark:hover:text-white dark:text-black w-full flex justify-center text-xl py-2 transition-colors text-color rounded-lg  " data-translate="header.home"></a>
      </li>
      <li class="w-full hover:bg-violet-900 dark:hover:bg-blue-900 dark:hover:border-gray-300 hover:scale-110 transition-all duration-300 rounded-lg border dark:border-blue-900 hover:shadow-lg overflow-hidden hover:shadow-purple-800 dark:hover:shadow-sky-800">
        <a href="#experience" class="dark:hover:text-white dark:text-black w-full flex justify-center text-xl py-2 transition-colors text-color rounded-lg   " data-translate="header.experience"></a>
      </li>
      <li class="w-full hover:bg-violet-900 dark:hover:bg-blue-900 dark:hover:border-gray-300 hover:scale-110 transition-all duration-300 rounded-lg border dark:border-blue-900 hover:shadow-lg overflow-hidden hover:shadow-purple-800 dark:hover:shadow-sky-800">
        <a href="#proyectos" class="dark:hover:text-white dark:text-black w-full flex justify-center text-xl py-2 transition-colors text-color rounded-lg   hover:shadow-lg" data-translate="header.projects"></a>
      </li>
      <li class="w-full hover:bg-violet-900 dark:hover:bg-blue-900 dark:hover:border-gray-300 hover:scale-110 transition-all duration-300 rounded-lg border dark:border-blue-900 hover:shadow-lg overflow-hidden hover:shadow-purple-800 dark:hover:shadow-sky-800">
        <a href="#sobremi" class="dark:hover:text-white dark:text-black w-full flex justify-center text-xl py-2 transition-colors text-color rounded-lg  hover:shadow-lg" data-translate="header.about"></a>
      </li> 
      <li class="w-full hover:bg-violet-900 dark:hover:bg-blue-900 dark:hover:border-gray-300 hover:scale-110 transition-all duration-300 rounded-lg border dark:border-blue-900 hover:shadow-lg overflow-hidden hover:shadow-purple-800 dark:hover:shadow-sky-800">
        <a href="#contactos" class="dark:hover:text-white dark:text-black w-full flex justify-center text-xl py-2 transition-colors text-color rounded-lg  hover:shadow-lg" data-translate="header.contact"> </a>
      </li>
    </ul>
  </nav>
</div>

<script src="../scripts/Menu.js">
</script>