---
import ComunicationIcon from '../icons/Comunication.astro';
import GroupIcon from '../icons/Group.astro';
import BulbIcon from '../icons/Bulb.astro';
import TimeIcon from '../icons/Time.astro';
import ProactiveIcon from '../icons/Proactive.astro';
import EmpathyIcon from '../icons/Empathy.astro';
---
<section class="container mx-auto  animate-fade-in bg-card rounded-lg shadow-lg"  id="SoftSkills">
    <h2 class="text-2xl font-bold mb-4 p-4 text-center">Habilidades Personales</h2>
    <div class=" grid grid-cols-1 md:grid-cols-2 p-4 lg:grid-cols-3 gap-4 md:gap-8" >
      <div >
        <h3 class="flex gap-x-3 text-xl font-bold mb-2 md:mb-4" id="timeManagementTitle"><i class="fas fa-clock text-purple-500"></i><TimeIcon class="size4" /> Gestión del Tiempo</h3>
        <p id="timeManagementDescription">Capacidad para organizar y priorizar tareas eficientemente.</p>
      </div>
      <div >
        <h3 class="flex gap-x-3 text-xl font-bold mb-2 md:mb-4" id="teamworkTitle"><i class="fas fa-users text-green-500"></i> <GroupIcon class="size4" />Trabajo en Equipo</h3>
        <p id="teamworkDescription">Colaboración efectiva con otros para alcanzar objetivos comunes.</p>
      </div>
      <div >
        <h3 class="flex gap-x-3 text-xl font-bold mb-2 md:mb-4" id="problemSolvingTitle"><i class="fas fa-lightbulb text-yellow-500"></i> <BulbIcon class="size4" /> Resolución de Problemas</h3>
        <p id="problemSolvingDescription">Habilidad para identificar y resolver problemas de manera creativa.</p>
      </div>
      <div >
        <h3 class="flex gap-x-3 text-xl font-bold mb-2 md:mb-4" id="communicationTitle"><i class="fas fa-comments text-blue-500"></i> <ComunicationIcon class="size4"/>Comunicación</h3>
        <p id="communicationDescription">Capacidad para expresar ideas y conceptos de manera clara y efectiva.</p>
      </div>
      
      <div >
        <h3 class="flex gap-x-3 text-xl font-bold mb-2 md:mb-4" id="proactivityTitle"><i class="fas fa-rocket text-orange-500"></i><ProactiveIcon class="size4" /> Proactividad</h3>
        <p id="proactivityDescription">Soy proactivo y siempre busco oportunidades para mejorar y contribuir.</p>
      </div>
      <div >
        <h3 class="flex gap-x-3 text-xl font-bold md:mb-4" id="empathyTitle"><i class="fas fa-thumbs-up text-gray-500"></i><EmpathyIcon class="size4" /> Empatía</h3>
        <p id="empathyDescription">Comprensión de las necesidades y perspectivas de otros.</p>
      </div>
    </div>
  </section>