---
import LanguagesContent from "./Languages.astro"
import FrameworksContent from "./Frameworks.astro"
import ToolsTecContent from "./ToolsTec.astro"
import PersonalSkillsContent from "./PersonalSkills.astro"
import ToolsIcon from '../icons/Tools.astro';
---

<h2 class="flex gap-x-2 text-2xl font-bold mb-7 text-white dark:text-neutral-800" id="educationTitle" > <span data-translate="skillsmenu.skills">Habilidades </span><ToolsIcon class="size-6" /></h2>

<div class="w-full bg-white border border-violet-200 rounded-lg shadow-sm dark:bg-slate-300 dark:border-blue-700">
    <ul class="flex flex-wrap text-sm font-medium text-center border-b border-gray-200 rounded-t-lg 
    bg-violet-950 dark:bg-slate-300 dark:border-gray-700 text-violet-500 dark:text-neutral-800 " id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="me-2">
        <button id="languages-tab" data-tabs-target="#languages" type="button" role="tab" aria-controls="languages" aria-selected="true" class="inline-block p-4 hover:text-violet-400 rounded-ss-lg hover:bg-gray-700 dark:hover:bg-blue-900/80 dark:hover:text-white dark:text-stone-900 tab-button " data-translate="skillsmenu.languages">Lenguajes de Programación</button>
      </li>
      <li class="me-2">
        <button id="frameworks-tab" data-tabs-target="#frameworks" type="button" role="tab" aria-controls="frameworks" aria-selected="false" class="inline-block p-4 hover:text-violet-400 hover:bg-gray-700  dark:hover:bg-blue-900/80 dark:hover:text-white dark:text-stone-900 tab-button">Frameworks</button>
      </li>
      <li class="me-2">
        <button id="toolsTec-tab" data-tabs-target="#toolstec" type="button" role="tab" aria-controls="toolstec" aria-selected="false" class="inline-block p-4 hover:text-violet-400 hover:bg-gray-700  dark:hover:bg-blue-900/80 dark:hover:text-white dark:text-stone-900 tab-button" data-translate="skillsmenu.toolstec">Herramientas Tecnicas</button>
      </li>
      <li class="me-2">
        <button id="personalskills-tab" data-tabs-target="#personalskills" type="button" role="tab" aria-controls="personalskills" aria-selected="false" class="inline-block p-4 hover:text-violet-400 hover:bg-gray-700  dark:hover:bg-blue-900/80 dark:hover:text-white dark:text-stone-900 tab-button" data-translate="skillsmenu.pskills">Habilidades personales</button>
      </li>
    </ul>
    <div id="defaultTabContent">
      <div class="hidden p-4 bg-gray-900 dark:bg-slate-300 rounded-lg md:p-8 dark:bg-gray-800" id="languages" role="tabpanel" aria-labelledby="languages-tab">
        <p class=" text-white-500 dark:text-stone-900"><LanguagesContent /></p>
      </div>
      <div class="hidden p-4 bg-gray-900 dark:bg-slate-300 rounded-lg md:p-8 dark:bg-gray-800" id="frameworks" role="tabpanel" aria-labelledby="frameworks-tab">
        <p class=" text-white-500 dark:text-stone-900"><FrameworksContent /></p>
      </div>
      <div class="hidden p-4 bg-gray-900 dark:bg-slate-300 rounded-lg md:p-8 dark:bg-gray-800" id="toolstec" role="tabpanel" aria-labelledby="toolstec-tab">
            <p class="text-white-500 dark:text-stone-900"><ToolsTecContent /></p>
      </div>
      <div class="hidden p-4 bg-gray-900 dark:bg-slate-300 rounded-lg md:p-8 dark:bg-gray-800" id="personalskills" role="tabpanel" aria-labelledby="personalskills-tab">
        <p class="text-white-500 dark:text-stone-900"><PersonalSkillsContent /></p>
  </div>
    </div>
  </div>
  
  <style>
    /* Estilos para modo claro */
    .tab-button[aria-selected="true"] {
      color: #ffffff;
      background-color: #1f2535;
    }
    .tab-button[aria-selected="false"] {
      color: #d8d9db;
      background-color: transparent;
    }
    .tab-button[aria-selected="false"]:hover {
      background-color: #4c1d95;
    }
    .tab-button:hover {
      color: #ffffff;
    }
  
    /* Estilos para modo oscuro */
    .dark .tab-button[aria-selected="true"] {
      color: #1e293b; /* Texto oscuro */
      background-color: #cbd5e1; /* Fondo claro */
    }
    .dark .tab-button[aria-selected="false"] {
      color: #d8d9db; /* Texto claro */
      background-color: transparent;
    }
    .dark .tab-button[aria-selected="false"]:hover {
      background-color: #003fec; /* Fondo azul oscuro */
    }
    .dark .tab-button:hover {
      color: #ffffff; /* Texto blanco */
    }
  </style>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const tabButtons = document.querySelectorAll('[role="tab"]');
      const tabContents = document.querySelectorAll('[role="tabpanel"]');
  
      tabButtons.forEach(button => {
        button.addEventListener('click', () => {
          tabButtons.forEach(btn => {
            btn.setAttribute('aria-selected', 'false');
            btn.classList.remove('active-tab');
          });
          button.setAttribute('aria-selected', 'true');
          button.classList.add('active-tab');
  
          tabContents.forEach(content => content.classList.add('hidden'));
          const target = document.querySelector(button.getAttribute('data-tabs-target'));
          target.classList.remove('hidden');
        });
      });
    });
  </script>
  