---
import LanguagesContent from "./Languages.astro"
import FrameworksContent from "./Frameworks.astro"
import ToolsTecContent from "./ToolsTec.astro"
import PersonalSkillsContent from "./PersonalSkills.astro"
import ToolsIcon from '../icons/Tools.astro';
---

<h2 class="flex gap-x-2 text-2xl font-bold mb-7 text-white" id="educationTitle">Habilidades <ToolsIcon class="size-6" /></h2>

<div class="w-full bg-white border border-violet-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <ul class="flex flex-wrap text-sm font-medium text-center text-violet-500 border-b border-gray-200 rounded-t-lg bg-violet-900 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="me-2">
        <button id="languages-tab" data-tabs-target="#languages" type="button" role="tab" aria-controls="languages" aria-selected="true" class="inline-block p-4 hover:text-violet-400 rounded-ss-lg hover:bg-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-gray-300 tab-button">Lenguajes de Programación</button>
      </li>
      <li class="me-2">
        <button id="frameworks-tab" data-tabs-target="#frameworks" type="button" role="tab" aria-controls="frameworks" aria-selected="false" class="inline-block p-4 hover:text-violet-400 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-300 tab-button">Frameworks</button>
      </li>
      <li class="me-2">
        <button id="toolsTec-tab" data-tabs-target="#toolstec" type="button" role="tab" aria-controls="toolstec" aria-selected="false" class="inline-block p-4 hover:text-violet-400 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-300 tab-button">Herramientas Tecnicas</button>
      </li>
      <li class="me-2">
        <button id="personalskills-tab" data-tabs-target="#personalskills" type="button" role="tab" aria-controls="personalskills" aria-selected="false" class="inline-block p-4 hover:text-violet-400 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-300 tab-button">Habilidades personales</button>
      </li>
    </ul>
    <div id="defaultTabContent">
      <div class="hidden p-4 bg-gray-900 rounded-lg md:p-8 dark:bg-gray-800" id="languages" role="tabpanel" aria-labelledby="languages-tab">
        <p class=" text-white-500 dark:text-gray-400"><LanguagesContent /></p>
      </div>
      <div class="hidden p-4 bg-gray-900 rounded-lg md:p-8 dark:bg-gray-800" id="frameworks" role="tabpanel" aria-labelledby="frameworks-tab">
        <p class=" text-white-500 dark:text-gray-400"><FrameworksContent /></p>
      </div>
      <div class="hidden p-4 bg-gray-900 rounded-lg md:p-8 dark:bg-gray-800" id="toolstec" role="tabpanel" aria-labelledby="toolstec-tab">
            <p class="text-white-500 dark:text-gray-400"><ToolsTecContent /></p>
      </div>
      <div class="hidden p-4 bg-gray-900 rounded-lg md:p-8 dark:bg-gray-800" id="personalskills" role="tabpanel" aria-labelledby="personalskills-tab">
        <p class="text-white-500 dark:text-gray-400"><PersonalSkillsContent /></p>
  </div>
    </div>
  </div>
  
  <style>
    .tab-button[aria-selected="true"] {
        color: #ffffff; 
        background-color: #1f2535; 
    }
    .tab-button[aria-selected="false"] {
        color: #d8d9db; 
        background-color: transparent; 
    }
    .tab-button[aria-selected="false"]:hover {
      background-color: #343e58; 
    }
    .tab-button:hover {
        color: #ffffff;
    }
  </style>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const tabButtons = document.querySelectorAll('[role="tab"]');
      const tabContents = document.querySelectorAll('[role="tabpanel"]');
  
      tabButtons.forEach(button => {
        button.addEventListener('click', () => {
          tabButtons.forEach(btn => {
            btn.setAttribute('aria-selected', 'false');
            btn.classList.remove('active-tab');
          });
          button.setAttribute('aria-selected', 'true');
          button.classList.add('active-tab');
  
          tabContents.forEach(content => content.classList.add('hidden'));
          const target = document.querySelector(button.getAttribute('data-tabs-target'));
          target.classList.remove('hidden');
        });
      });
    });
  </script>
  